<div id="strength">
  <small>Password strength:</small>
  <ul id="strengthBar">
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
  </ul>

  <small>Password must contain</small>
  <div class="list-container">
    <ol class="pass-list" style="background-color: white">
      <li class="list-item">a minimum of 1 lower case letter [a-z]</li>
      <li class="list-item">a minimum of 1 upper case letter [A-Z]</li>
      <li class="list-item">a minimum of 1 numeric character [0-9]</li>
      <li class="list-item">a minimum of 1 special character: ~`!@#$%^&*()-_+={{ '{' }}}[]|\;:"<>,./?</li>
    </ol>
  </div>
</div>
