/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strength {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

.point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 20px;
  &:last-child {
    margin: 0 !important;
  }
}

.list-container {
  width: 500px; /* set the width of the container element */
}

.list-item {
  background-color: white; /* add a background color to the list items */
  margin-left: 30px;
}

.pass-list {
  width: 100%; /* set the width of the unordered list element to 100% */
  list-style-type: disc; /* remove the bullet points from the list */
  padding-left: 0px; /* remove any default padding from the list */
  margin: 0; /* remove any default margin from the list */
}
