<div id="strength">
  <small>Password strength:</small>
  <ul id="strengthBar">
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
  </ul>

  <small>Password must contain</small>
  <div class="list-container">
    <div class="pass-list">
      <div>
        <fa-icon style="padding-left: 10px" icon="asterisk"></fa-icon><span class="list-item">a minimum of 1 lower case letter [a-z]</span>
      </div>
      <div>
        <fa-icon style="padding-left: 10px" icon="asterisk"></fa-icon><span class="list-item">a minimum of 1 upper case letter [A-Z]</span>
      </div>
      <div>
        <fa-icon style="padding-left: 10px" icon="asterisk"></fa-icon><span class="list-item">a minimum of 1 numeric character [0-9]</span>
      </div>
      <div>
        <fa-icon style="padding-left: 10px" icon="asterisk"></fa-icon
        ><span class="list-item">a minimum of 1 special character: ~`!@#$%^&*()-_+={{ '{' }}}[]|\;:"<>,./?</span>
      </div>
    </div>
  </div>
</div>
