<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="task">
      <h2 data-cy="taskDetailsHeading"><span>Task</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ task.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ task.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ task.description }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ task.status }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ task.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Estimated Time</span></dt>
        <dd>
          <span>{{ task.estimatedTime }}</span>
        </dd>
        <dt><span>Time Logged</span></dt>
        <dd>
          <span>{{ task.timeLogged }}</span>
        </dd>
        <dt><span>Story Points</span></dt>
        <dd>
          <span>{{ task.storyPoints }}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
          <span>{{ task.priority }}</span>
        </dd>
        <dt><span>Assignee</span></dt>
        <dd>
          <span>{{ task.assignee }}</span>
        </dd>
        <dt><span>Reporter</span></dt>
        <dd>
          <span>{{ task.reporter }}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
          <div *ngIf="task.person">
            <a [routerLink]="['/person', task.person.id, 'view']">{{ task.person.id }}</a>
          </div>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
          <div *ngIf="task.project">
            <a [routerLink]="['/project', task.project.id, 'view']">{{ task.project.id }}</a>
          </div>
        </dd>
        <dt><span>Sprint</span></dt>
        <dd>
          <div *ngIf="task.sprint">
            <a [routerLink]="['/sprint', task.sprint.id, 'view']">{{ task.sprint.id }}</a>
          </div>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
          <div *ngIf="task.team">
            <a [routerLink]="['/team', task.team.id, 'view']">{{ task.team.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
