<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-task-heading" data-cy="TaskCreateUpdateHeading">Create or edit a Task</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            <option *ngFor="let taskStatus of taskStatusValues" [value]="taskStatus">taskStatus</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_startDate">Start Date</label>
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_estimatedTime">Estimated Time</label>
          <input
            type="number"
            class="form-control"
            name="estimatedTime"
            id="field_estimatedTime"
            data-cy="estimatedTime"
            formControlName="estimatedTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeLogged">Time Logged</label>
          <input
            type="number"
            class="form-control"
            name="timeLogged"
            id="field_timeLogged"
            data-cy="timeLogged"
            formControlName="timeLogged"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_storyPoints">Story Points</label>
          <input
            type="number"
            class="form-control"
            name="storyPoints"
            id="field_storyPoints"
            data-cy="storyPoints"
            formControlName="storyPoints"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_priority">Priority</label>
          <select class="form-control" name="priority" formControlName="priority" id="field_priority" data-cy="priority">
            <option [ngValue]="null"></option>
            <option *ngFor="let taskPriority of taskPriorityValues" [value]="taskPriority">taskPriority</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_assignee">Assignee</label>
          <input type="text" class="form-control" name="assignee" id="field_assignee" data-cy="assignee" formControlName="assignee" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_reporter">Reporter</label>
          <input type="text" class="form-control" name="reporter" id="field_reporter" data-cy="reporter" formControlName="reporter" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_person">Person</label>
          <select
            class="form-control"
            id="field_person"
            data-cy="person"
            name="person"
            formControlName="person"
            [compareWith]="comparePerson"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="personOption" *ngFor="let personOption of peopleSharedCollection">{{ personOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectOption" *ngFor="let projectOption of projectsSharedCollection">{{ projectOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sprint">Sprint</label>
          <select
            class="form-control"
            id="field_sprint"
            data-cy="sprint"
            name="sprint"
            formControlName="sprint"
            [compareWith]="compareSprint"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="sprintOption" *ngFor="let sprintOption of sprintsSharedCollection">{{ sprintOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_team">Team</label>
          <select class="form-control" id="field_team" data-cy="team" name="team" formControlName="team" [compareWith]="compareTeam">
            <option [ngValue]="null"></option>
            <option [ngValue]="teamOption" *ngFor="let teamOption of teamsSharedCollection">{{ teamOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
